[submodule "nanobind"]
	path = nanobind
	url = git@github.com:Cfretz244/nanobind.git
	branch = mk-reflect
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:Cfretz244/llvm-project.git
	branch = reflection-p2996
