[submodule "nanobind"]
	path = nanobind
	url = git@github.com:Cfretz244/nanobind.git
	branch = mk-reflect
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:Cfretz244/llvm-project.git
	branch = reflection-p2996
[submodule "corpus/libs/linalg"]
	path = corpus/libs/linalg
	url = https://github.com/sgorsten/linalg.git
[submodule "corpus/libs/glm"]
	path = corpus/libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "corpus/libs/json"]
	path = corpus/libs/json
	url = git@github.com:Cfretz244/json.git
	branch = corpus-reflect-skip
[submodule "corpus/libs/fmt"]
	path = corpus/libs/fmt
	url = https://github.com/fmtlib/fmt
